.brackets {
  align-self: stretch;
}

.expression {
  sub {
    font-size: 10px;
  }

  .operand::after {
    display: inline-block;
    margin: 0 4px;
    align-self: stretch;
  }

  :last-child::after {
    content: none !important;
  }

  &--disjunctive {
    .operand::after {
      content: 'v';
    }
  }

  &--sheffer {
    .operand::after {
      content: '|';
    }
  }

  &--conjunctive {
    .operand::after {
      content: none;
    }
  }
}
