<app-dialog-overlay (closed)="close()">
  <div class="dialog">
    <div class="dialog__body">
      <div class="dialog-body-section">
        <div class="layout-list">
          <div class="layout-list__item">
            <div class="dialog-header">
              <div class="dialog-header__title">
                Кодирование
              </div>
              <div class="dialog-header__text">
                Выберите алгоритм кодирования
              </div>
            </div>
          </div>

          <div class="layout-list__item">
            <mat-radio-group [(ngModel)]="codingAlgorithm">
              <div class="layout-list layout-list--16px">
                <div class="layout-list__item">
                  <label class="layout-inline-checkbox">
                    <div class="layout-inline__item">
                      <mat-radio-button class="coding-algorithm-option"
                                        [value]="UNITARY_D_ALGORITHM"
                                        [disabled]="isProcessing">
                      </mat-radio-button>
                    </div>

                    <div class="layout-inline__item layout-inline__item--expand">
                      Унитарный
                    </div>
                  </label>
                </div>
                <div class="layout-list__item">
                  <label class="layout-inline-checkbox">
                    <div class="layout-inline__item">
                      <mat-radio-button class="coding-algorithm-option"
                                        [value]="FREQUENCY_D_ALGORITHM"
                                        [disabled]="isProcessing">
                      </mat-radio-button>
                    </div>

                    <div class="layout-inline__item layout-inline__item--expand">
                      Частотный
                    </div>
                  </label>
                </div>
              </div>
            </mat-radio-group>
          </div>
        </div>
      </div>
    </div>

    <div class="dialog__actions">
      <div class="layout-inline layout-inline--align-right">
        <div class="layout-inline__item">
          <button mat-button
                  mat-dialog-close
                  lms-theme="primary"
                  tabindex="3">
           Выйти
          </button>
        </div>

        <div class="layout-inline__item">
          <button mat-raised-button
                  app-theme="primary"
                  [disabled]="isProcessing"
                  (click)="performCoding()">
            <ng-container *ngIf="!isProcessing">
              Закодировать
            </ng-container>

            <mat-spinner *ngIf="isProcessing"
                         [diameter]="20"
                         strokeWidth="2"
                         app-theme="light">
            </mat-spinner>
          </button>
        </div>
      </div>
    </div>
  </div>
</app-dialog-overlay>
