<div class="dialog">
  <div class="dialog__body">
    <div class="layout-list layout-list--12px">
      <div class="layout-list__item">
        <div class="dialog-header">
          <div class="dialog-header__title">
            {{ 'ROOT.TABLE_CONFIG_DIALOG.TITLE' | translate }}
          </div>

          <div class="dialog-header__text">
            {{ 'ROOT.TABLE_CONFIG_DIALOG.DESCRIPTION' | translate }}
          </div>
        </div>
      </div>

      <form id="tableParamsForm"
            [formGroup]="form"
            (ngSubmit)="save()"
            class="layout-list layout-list--12px">
        <div class="layout-list__item">
          <div class="layout-list layout-list--10px">
            <div class="layout-list__item">
              {{ 'ROOT.TABLE_CONFIG_DIALOG.STATE_MACHINE_TYPE_LABEL' | translate }}
            </div>

            <div class="layout-list__item">
              <mat-radio-group formControlName="fsmType">
                <div class="layout-list layout-list--12px">
                  <div class="layout-list__item">
                    <label class="layout-inline-checkbox">
                      <div class="layout-inline__item">
                        <mat-radio-button [value]="fsmTypes.MILI">
                        </mat-radio-button>
                      </div>

                      <div class="layout-inline__item layout-inline__item--expand">
                        {{ 'ROOT.TABLE_CONFIG_DIALOG.MILI_STATE_MACHINE' | translate }}
                      </div>
                    </label>
                  </div>

                  <div class="layout-list__item">
                    <label class="layout-inline-checkbox">
                      <div class="layout-inline__item">
                        <mat-radio-button [value]="fsmTypes.MURA">
                        </mat-radio-button>
                      </div>

                      <div class="layout-inline__item layout-inline__item--expand">
                        {{ 'ROOT.TABLE_CONFIG_DIALOG.MURA_STATE_MACHINE' | translate }}
                      </div>
                    </label>
                  </div>
                </div>
              </mat-radio-group>
            </div>
          </div>
        </div>

        <div class="layout-list__item">
          <div class="layout-list layout-list--10px">
            <div class="layout-list__item">
              {{ 'ROOT.TABLE_CONFIG_DIALOG.TRIGGER_TYPE_LABEL' | translate }}
            </div>

            <div class="layout-list__item">
              <mat-radio-group formControlName="triggerType">
                <div class="layout-list layout-list--12px">
                  <div class="layout-list__item">
                    <label class="layout-inline-checkbox">
                      <div class="layout-inline__item">
                        <mat-radio-button [value]="triggerTypes.D">
                        </mat-radio-button>
                      </div>

                      <div class="layout-inline__item layout-inline__item--expand">
                        {{ 'ROOT.TABLE_CONFIG_DIALOG.D_TRIGGER' | translate }}
                      </div>
                    </label>
                  </div>

                  <div class="layout-list__item">
                    <label class="layout-inline-checkbox">
                      <div class="layout-inline__item">
                        <mat-radio-button [value]="triggerTypes.T">
                        </mat-radio-button>
                      </div>

                      <div class="layout-inline__item layout-inline__item--expand">
                        {{ 'ROOT.TABLE_CONFIG_DIALOG.T_TRIGGER' | translate }}
                      </div>
                    </label>
                  </div>

                  <div class="layout-list__item">
                    <label class="layout-inline-checkbox">
                      <div class="layout-inline__item">
                        <mat-radio-button [value]="triggerTypes.NOT_T">
                        </mat-radio-button>
                      </div>

                      <div class="layout-inline__item layout-inline__item--expand"
                           [innerHTML]="'ROOT.TABLE_CONFIG_DIALOG.NOT_T_TRIGGER' | translate">
                      </div>
                    </label>
                  </div>
                </div>
              </mat-radio-group>
            </div>
          </div>
        </div>

        <div class="layout-list__item">
          <mat-form-field app-theme="dark"
                          appearance="standard">
            <mat-label>
              {{ 'ROOT.TABLE_CONFIG_DIALOG.TABLE_LENGTH_LABEL' | translate }}
            </mat-label>

            <input type="number"
                    matInput
                    formControlName="length">

            <mat-error *ngIf="form.hasError('required', ['length'])">
              {{ 'ROOT.TABLE_CONFIG_DIALOG.ERROR_REQUIRED_FIELD' | translate }}
            </mat-error>

            <mat-error *ngIf="form.hasError('min', ['length'])">
              {{ 'ROOT.TABLE_CONFIG_DIALOG.ERROR_MIN_TABLE_LENGTH' | translate }}
            </mat-error>

            <mat-error *ngIf="form.hasError('max', ['length'])">
              {{ 'ROOT.TABLE_CONFIG_DIALOG.ERROR_MAX_TABLE_LENGTH' | translate }}
            </mat-error>

            <mat-error *ngIf="form.hasError('pattern', ['length'])">
              {{ 'ROOT.TABLE_CONFIG_DIALOG.ERROR_PATTERN_TABLE_LENGTH' | translate }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="layout-list__item">
          <mat-form-field app-theme="dark"
                          appearance="standard">
            <mat-label>
              {{ 'ROOT.TABLE_CONFIG_DIALOG.NUMBER_STATES_LABEL' | translate }}
            </mat-label>

            <input type="number"
                    matInput
                    formControlName="numberOfStates">

            <mat-hint *ngIf="isDataLossNoticeShown('numberOfStates')"
                      class="is--primary">
              {{ 'ROOT.TABLE_CONFIG_DIALOG.DATA_LOSS_NOTICE' | translate }}
            </mat-hint>

            <mat-error *ngIf="form.hasError('required', ['numberOfStates'])">
              {{ 'ROOT.TABLE_CONFIG_DIALOG.ERROR_REQUIRED_FIELD' | translate }}
            </mat-error>

            <mat-error *ngIf="form.hasError('min', ['numberOfStates'])">
              {{ 'ROOT.TABLE_CONFIG_DIALOG.ERROR_MIN_NUMBER_STATES' | translate }}
            </mat-error>

            <mat-error *ngIf="form.hasError('max', ['numberOfStates'])">
              {{ 'ROOT.TABLE_CONFIG_DIALOG.ERROR_MAX_NUMBER_STATES' | translate }}
            </mat-error>

            <mat-error *ngIf="form.hasError('pattern', ['numberOfStates'])">
              {{ 'ROOT.TABLE_CONFIG_DIALOG.ERROR_PATTERN_NUMBER_STATES' | translate }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="layout-list__item">
          <mat-form-field app-theme="dark"
                          appearance="standard">
            <mat-label>
              {{ 'ROOT.TABLE_CONFIG_DIALOG.NUMBER_X_LABEL' | translate }}
            </mat-label>

            <input type="number"
                    matInput
                    formControlName="numberOfX">

            <mat-hint *ngIf="isDataLossNoticeShown('numberOfX')"
                      class="is--primary">
              {{ 'ROOT.TABLE_CONFIG_DIALOG.DATA_LOSS_NOTICE' | translate }}
            </mat-hint>

            <mat-error *ngIf="form.hasError('required', ['numberOfX'])">
              {{ 'ROOT.TABLE_CONFIG_DIALOG.ERROR_REQUIRED_FIELD' | translate }}
            </mat-error>

            <mat-error *ngIf="form.hasError('min', ['numberOfX'])">
              {{ 'ROOT.TABLE_CONFIG_DIALOG.ERROR_MIN_NUMBER_X' | translate }}
            </mat-error>

            <mat-error *ngIf="form.hasError('max', ['numberOfX'])">
              {{ 'ROOT.TABLE_CONFIG_DIALOG.ERROR_MAX_NUMBER_X' | translate }}
            </mat-error>

            <mat-error *ngIf="form.hasError('pattern', ['numberOfX'])">
              {{ 'ROOT.TABLE_CONFIG_DIALOG.ERROR_PATTERN_NUMBER_X' | translate }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="layout-list__item">
          <mat-form-field app-theme="dark"
                          appearance="standard">
            <mat-label>
              {{ 'ROOT.TABLE_CONFIG_DIALOG.NUMBER_Y_LABEL' | translate }}
            </mat-label>

            <input type="number"
                    matInput
                    formControlName="numberOfY">

            <mat-hint *ngIf="isDataLossNoticeShown('numberOfY')"
                      class="is--primary">
              {{ 'ROOT.TABLE_CONFIG_DIALOG.DATA_LOSS_NOTICE' | translate }}
            </mat-hint>

            <mat-error *ngIf="form.hasError('required', ['numberOfY'])">
              {{ 'ROOT.TABLE_CONFIG_DIALOG.ERROR_REQUIRED_FIELD' | translate }}
            </mat-error>

            <mat-error *ngIf="form.hasError('min', ['numberOfY'])">
              {{ 'ROOT.TABLE_CONFIG_DIALOG.ERROR_MIN_NUMBER_Y' | translate }}
            </mat-error>

            <mat-error *ngIf="form.hasError('max', ['numberOfY'])">
              {{ 'ROOT.TABLE_CONFIG_DIALOG.ERROR_MAX_NUMBER_Y' | translate }}
            </mat-error>

            <mat-error *ngIf="form.hasError('pattern', ['numberOfY'])">
              {{ 'ROOT.TABLE_CONFIG_DIALOG.ERROR_PATTERN_NUMBER_Y' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
      </form>
    </div>
  </div>

  <div class="dialog__actions">
    <div class="layout-inline layout-inline--align-right">
      <div class="layout-inline__item">
        <button mat-button
                mat-dialog-close
                app-theme="primary"
                tabindex="3"
                [disabled]="!isEditMode">
          {{ 'ROOT.TABLE_CONFIG_DIALOG.EXIT_BUTTON_LABEL' | translate }}
        </button>
      </div>

      <div class="layout-inline__item">
        <button mat-raised-button
                app-theme="primary"
                form="tableParamsForm"
                [disabled]="isProcessing">
          <ng-container *ngIf="!isProcessing">
            {{
                (
                  isEditMode
                    ? 'ROOT.TABLE_CONFIG_DIALOG.EDIT_BUTTON_LABEL'
                    : 'ROOT.TABLE_CONFIG_DIALOG.CREATE_BUTTON_LABEL'
                ) | translate
            }}
          </ng-container>

          <mat-spinner *ngIf="isProcessing"
                        [diameter]="20"
                        strokeWidth="2"
                        app-theme="light">
          </mat-spinner>
        </button>
      </div>
    </div>
  </div>
</div>
