<mat-table [dataSource]="dataSource">

  <!-- Number Column -->
  <ng-container matColumnDef="num">
    <mat-header-cell *matHeaderCellDef mat-sort-header> h </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{ row.num }} </mat-cell>
  </ng-container>

  <!-- Src state Column -->
  <ng-container matColumnDef="srcState">
    <mat-header-cell *matHeaderCellDef mat-sort-header> a <sub>m</sub> </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <div>
        <ng-container *ngIf="row.srcState; else emptyValue">
          a<sub>{{ row.srcState }}</sub>
        </ng-container>
      </div>
      <div *ngIf="editMode">
        <button mat-raised-button
                color="primary"
                [matMenuTriggerFor]="statesMenu">
          Добавить
          <i class="mdi mdi-plus-circle"></i>
        </button>

        <mat-menu #statesMenu="matMenu"
                  [overlapTrigger]="false">
          <button *ngFor="let stateIndex of states"
                  (click)="row.srcState = stateIndex"
                  mat-menu-item>
            a <sub>{{ stateIndex }}</sub>
          </button>
        </mat-menu>
      </div>
    </mat-cell>
  </ng-container>

  <!-- Code Src state Column -->
  <ng-container matColumnDef="codeSrcState">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <div>
        K(a <sub>m</sub> )
      </div>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <div>
        {{ formatCodingState(row.codeSrcState) }}
      </div>
    </mat-cell>
  </ng-container>

  <!-- X column -->
  <ng-container matColumnDef="x">
    <mat-header-cell *matHeaderCellDef>
      <div>
        X
      </div>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <div *ngIf="row.x.size > 0">
        <ng-container *ngFor="let conditionalSignal of getSignalsIterator(row.x)">
          <span [class.is--inverted]="conditionalSignal.inverted">x</span> <sub>{{ conditionalSignal.id }}</sub>
        </ng-container>
      </div>

      <div *ngIf="row.unconditionalX">1</div>

      <div *ngIf="row.x.size == 0 && !row.unconditionalX">-</div>

      <div *ngIf="editMode">
        <button mat-raised-button
                color="primary"
                [matMenuTriggerFor]="xSignalsMenu">
          Добавить
          <i class="mdi mdi-plus-circle"></i>
        </button>

        <mat-menu #xSignalsMenu="matMenu"
                  [overlapTrigger]="false">
          <div (click)="$event.stopPropagation();">
            <mat-checkbox [ngModel]="row.unconditionalX"
                          (ngModelChange)="toggleUnconditionalSignal(row)"
                          (click)="$event.stopPropagation();">
              Безусловный
            </mat-checkbox>
          </div>

          <ng-container *ngIf="!row.unconditionalX">
            <div *ngFor="let conditionalSignal of conditionalSignals; index as i"
                 (click)="$event.stopPropagation();">
              <mat-checkbox [ngModel]="row.x.has(conditionalSignal)"
                            (ngModelChange)="selectSignal(conditionalSignal, row.x)"
                            [disabled]="isConditionalSignalDisabled(row, i, conditionalSignal.inverted)"
                            (click)="$event.stopPropagation();">
                <span [class.is--inverted]="conditionalSignal.inverted">x</span><!--
             --><sub>{{ conditionalSignal.id }}</sub>
              </mat-checkbox>
            </div>
          </ng-container>
        </mat-menu>
      </div>
    </mat-cell>
  </ng-container>

  <!-- Y column -->
  <ng-container matColumnDef="y">
    <mat-header-cell *matHeaderCellDef>
      <div>Y</div>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <div *ngIf="row.y.size > 0; else emptyValue">
        <ng-container *ngFor="let outputSignal of getSignalsIterator(row.y)">
          y <sub>{{ outputSignal}}</sub>
        </ng-container>
      </div>

      <div *ngIf="editMode">
        <button mat-raised-button
                color="primary"
                [matMenuTriggerFor]="ySignalsMenu">
          Добавить
          <i class="mdi mdi-plus-circle"></i>
        </button>

        <mat-menu #ySignalsMenu="matMenu"
                  [overlapTrigger]="false">
          <div *ngFor="let outputSignal of outputSignals"
               (click)="$event.stopPropagation();">
            <mat-checkbox [ngModel]="row.y.has(outputSignal)"
                          (ngModelChange)="selectSignal(outputSignal, row.y)"
                          (click)="$event.stopPropagation();">
              y<sub>{{ outputSignal }}</sub>
            </mat-checkbox>
          </div>
        </mat-menu>
      </div>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns">
  </mat-header-row>

  <mat-row *matRowDef="let row; columns: displayedColumns;">
  </mat-row>
</mat-table>

<ng-template #emptyValue>
  -
</ng-template>

<mat-paginator #paginator
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 20]"
               [showFirstLastButtons]="true">
</mat-paginator>
