<h3 *ngIf="isTriggerModeD()">Коды вершин для D и D*</h3>

<mat-table [dataSource]="dataSource">
  <!-- Vertex id Column -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> a<sub>i</sub> </mat-header-cell>
    <mat-cell *matCellDef="let row"> a<sub>{{ row.id }}</sub></mat-cell>
  </ng-container>

  <!-- Vertex code Column -->
  <ng-container matColumnDef="code">
    <mat-header-cell *matHeaderCellDef>
      <ng-container *ngIf="isTriggerModeD()">
        D - триггеры
      </ng-container>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      {{ formatStateCode(row.code) }}
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns">
  </mat-header-row>

  <mat-row *matRowDef="let row; columns: displayedColumns;">
  </mat-row>

</mat-table>
