<div class="card-header-wrapper">
  <div class="layout-inline card-header">
    <div class="layout-inline__item card-header__title">
      Коды вершин
    </div>
  </div>
</div>

<mat-table [dataSource]="dataSource">
  <!-- Vertex id Column -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> a<sub>i</sub> </mat-header-cell>
    <mat-cell *matCellDef="let row"
              class="index-cell"> a<sub>{{ row.id }}</sub> =</mat-cell>
  </ng-container>

  <!-- Vertex code Column -->
  <ng-container matColumnDef="code">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let row">
      {{ formatStateCode(row.code) }}
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns">
  </mat-header-row>

  <mat-row *matRowDef="let row; columns: displayedColumns;">
  </mat-row>
</mat-table>
