<div class="card-header-wrapper">
  <div class="layout-inline card-header">
    <div class="layout-inline__item card-header__title">
      Коды вершин
    </div>
  </div>
</div>

<mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="code">
    <mat-header-cell *matHeaderCellDef>
      <div>
        a<sub>i</sub>
      </div>
    </mat-header-cell>

    <mat-cell *matCellDef="let row">
      <div class="layout-inline layout-inline--2px">
        <div class="layout-inline__item">
          a<sub>{{ row.state.index }}</sub>
        </div>

        <div class="layout-inline__item">
          =
        </div>

        <div class="layout-inline__item">
          {{ formatStateCode(row.code) }}
        </div>
      </div>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns">
  </mat-header-row>

  <mat-row *matRowDef="let row; columns: displayedColumns;">
  </mat-row>
</mat-table>
