<div class="card-header-wrapper">
  <div class="layout-split card-header">
    <div class="layout-split__item card-header__title">
      Функции переходов
    </div>

    <div class="layout-split__item"
         matTooltip="Выбрать представление"
         matTooltipPosition="above">
      <button mat-icon-button
              [matMenuTriggerFor]="basisModeMenu"
              app-theme="primary">
        <div class="icon icon--settings icon--20px"></div>
      </button>
    </div>
  </div>
</div>

<mat-menu #basisModeMenu="matMenu"
          [overlapTrigger]="false">
  <button class="mat-menu-item"
          (click)="toggleBasis(true)">
    Базис Буля
  </button>
  <button class="mat-menu-item"
          (click)="toggleBasis(false)">
    Базис Шеффера
  </button>
</mat-menu>

<mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="function">
    <mat-header-cell *matHeaderCellDef>
      <div>
        D<sub>i</sub>
      </div>
    </mat-header-cell>

    <mat-cell *matCellDef="let row">
      <div class="layout-inline layout-inline--2px">
        <div class="layout-inline__item">
          D<sub>{{ row.index }}</sub>
        </div>

        <div class="layout-inline__item">
          =
        </div>

        <div class="layout-inline__item">
          <app-expression [function]="row.function">
          </app-expression>
        </div>
      </div>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns">
  </mat-header-row>

  <mat-row *matRowDef="let row; columns: displayedColumns;">
  </mat-row>
</mat-table>
