<div class="card-header-wrapper">
  <div class="layout-split card-header">
    <div class="layout-split__item card-header__title">
      {{ 'ROOT.TRANSITIONS_FUNCTIONS_TABLE.TITLE' | translate }}
    </div>

    <div class="layout-split__item"
         [matTooltip]="'ROOT.TRANSITIONS_FUNCTIONS_TABLE.BASIS_MENU_TOOLTIP' | translate"
         matTooltipPosition="above">
      <button mat-icon-button
              [matMenuTriggerFor]="basisModeMenu"
              app-theme="primary">
        <div class="icon icon--settings icon--20px"></div>
      </button>
    </div>
  </div>
</div>

<mat-menu #basisModeMenu="matMenu"
          [overlapTrigger]="false">
  <button class="mat-menu-item"
          (click)="isBooleanBasisShown = true">
    {{ 'ROOT.TRANSITIONS_FUNCTIONS_TABLE.BOOLEAN_BASIS_OPTION' | translate }}
  </button>

  <button class="mat-menu-item"
          (click)="isBooleanBasisShown = false">
    {{ 'ROOT.TRANSITIONS_FUNCTIONS_TABLE.SHEFFER_BASIS_OPTION' | translate }}
  </button>
</mat-menu>

<mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="function">
    <mat-header-cell *matHeaderCellDef>
      <div *ngIf="tableConfig.triggerType === triggerTypes.D">
        D<sub>i</sub>
      </div>

      <div *ngIf="tableConfig.triggerType === triggerTypes.T">
        T<sub>i</sub>
      </div>

      <div *ngIf="tableConfig.triggerType === triggerTypes.NOT_T">
        T*<sub>i</sub>
      </div>
    </mat-header-cell>

    <mat-cell *matCellDef="let row">
      <div class="layout-inline layout-inline--2px">
        <div *ngIf="tableConfig.triggerType === triggerTypes.D"
             class="layout-inline__item">
          D<sub>{{ row.index }}</sub>
        </div>

        <div *ngIf="tableConfig.triggerType === triggerTypes.T"
             class="layout-inline__item">
          T<sub>{{ row.index }}</sub>
        </div>

        <div *ngIf="tableConfig.triggerType === triggerTypes.NOT_T"
             class="layout-inline__item">
          T*<sub>{{ row.index }}</sub>
        </div>

        <div class="layout-inline__item">
          =
        </div>

        <div class="layout-inline__item">
          <app-dnf-equation *ngIf="isBooleanBasisShown"
                            [function]="row.dnfEquation">
          </app-dnf-equation>

          <app-sheffer-equation *ngIf="!isBooleanBasisShown"
                                [function]="row.shefferEquation">
          </app-sheffer-equation>
        </div>
      </div>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns">
  </mat-header-row>

  <mat-row *matRowDef="let row; columns: displayedColumns;">
  </mat-row>
</mat-table>
