$app-color-dark: #0B3040;
$app-color-primary: #673ab7;
$app-color-danger: #E62F2B;
$app-color-success: #76D649;
$app-color-warning: #ffd740;

$app-header-height: 54px;
$app-page-header-height: 64px;

$app-row-min-height: $app-page-header-height;
$app-row-tall-min-height: 80px;

$app-item-max-width: 900px;
$app-item-narrow-max-width: 720px;
$app-item-wide-max-width: 1100px;
$app-expanded-item-max-width: 940px;
$app-expanded-item-narrow-max-width: 800px;

$app-layout-spacing-options: 44px 24px 16px 12px 10px 6px 0px;
