/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '../../node_modules/mdi/css/materialdesignicons.css';
@import '~roboto-fontface/css/roboto/roboto-fontface.css';

@import './variables';

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: $app-color-dark;
  background-color: rgba($app-color-dark, 0.05);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@import 'states/inverted';
@import 'states/color';

@import 'utils/layout-center';
@import 'utils/layout-inline';
@import 'utils/layout-list';
@import 'utils/layout-split';
@import 'utils/dialog';

@import 'components/card';
@import 'components/dialog';
@import 'components/icon';
@import 'components/component-wrapper';
@import 'components/expression';
@import 'components/table';

@import 'layouts/layout-center';
@import 'layouts/layout-inline';
@import 'layouts/layout-list';
@import 'layouts/layout-split';
@import 'layouts/layout-content';
@import 'layouts/layout-wrap';
@import 'layouts/layout-offscreen';

@import 'mat-library/mat-menu';
@import 'mat-library/mat-card';
@import 'mat-library/mat-tab';
@import 'mat-library/mat-icon-button';
@import 'mat-library/mat-tooltip';
@import 'mat-library/mat-dialog-container';
@import 'mat-library/mat-slide-toggle';
@import 'mat-library/cdk-overlay';
@import 'mat-library/mat-error';
@import 'mat-library/mat-form-field';
@import 'mat-library/mat-radio-group';
@import 'mat-library/mat-table';
