.mat-snack-bar-container {
  color: white;

  &--message {
    background-color: $app-color-primary;
  }

  &--warning {
    background-color: $app-color-warning;
    color: $app-color-dark;
  }

  &--error {
    background-color: $app-color-danger;
  }
}
