$app-form-field-default-theme: dark;
$app-form-field-alternative-themes: light;

$app-form-field-theme-colors: (
  light: white,
  dark: $app-color-dark
);

$app-form-field-theme-asterisk-colors: (
  light: white,
  dark: $app-color-primary
);

$app-form-field-theme-ripples: (
  light: white,
  dark: $app-color-primary
);

$app-form-field-theme-borders: (
  light: white,
  dark: $app-color-dark
);


.mat-form-field {
  display: block !important;
  width: 100%;
  // line-height: 24px;
  font-size: 16px;
}

// default theme:
.mat-form-field:not(.mat-form-field-invalid) {
  color: map-get($app-form-field-theme-colors, $app-form-field-default-theme);

  &:not(.mat-form-field-disabled) .mat-form-field-underline {
    background-color: rgba(map-get($app-form-field-theme-borders, $app-form-field-default-theme), 0.25);
  }

  &.mat-form-field-disabled .mat-form-field-underline {
    background-image: linear-gradient(
                        to right,
                        rgba(map-get($app-form-field-theme-borders, $app-form-field-default-theme), 0.5) 0%,
                        rgba(map-get($app-form-field-theme-borders, $app-form-field-default-theme), 0.5) 33%,
                        transparent 0%
                      );
  }

  & .mat-form-field-ripple {
    background-color: map-get($app-form-field-theme-ripples, $app-form-field-default-theme);
  }

  & .mat-form-field-label {
    color: rgba(map-get($app-form-field-theme-colors, $app-form-field-default-theme), 0.5);
  }

  & .mat-form-field-required-marker {
    color: map-get($app-form-field-theme-asterisk-colors, $app-form-field-default-theme);
  }
}

@each $theme-name in $app-form-field-alternative-themes {
  .mat-form-field:not(.mat-form-field-invalid)[app-theme="#{$theme-name}"] {
    color: map-get($app-form-field-theme-colors, $theme-name);

    &:not(.mat-form-field-disabled) .mat-form-field-underline {
      background-color: rgba(map-get($app-form-field-theme-borders, $theme-name), 0.25);
    }

    &.mat-form-field-disabled .mat-form-field-underline {
      background-image: linear-gradient(
                          to right,
                          rgba(map-get($app-form-field-theme-borders, $theme-name), 0.5) 0%,
                          rgba(map-get($app-form-field-theme-borders, $theme-name), 0.5) 33%,
                          transparent 0%
                        );
    }

    & .mat-form-field-ripple {
      background-color: map-get($app-form-field-theme-ripples, $theme-name);
    }

    & .mat-form-field-label {
      color: rgba(map-get($app-form-field-theme-colors, $theme-name), 0.5);
    }

    & .mat-form-field-required-marker {
      color: map-get($app-form-field-theme-asterisk-colors, theme-name);
    }
  }
}
