<mat-toolbar class="layout-split"
             color="primary">
  <div class="layout-split__item">
    Title
  </div>

  <div class="layout-split__item">
    <div class="layout-inline">
      <div class="layout-inline__item">
        <button mat-raised-button
                color="accent"
                (click)="chooseCodingAlgorithm()">
          Закодировать
        </button>
      </div>

      <div class="layout-inline__item">
        <button mat-raised-button
                color="accent"
                (click)="changeTableConfig()">
          Изменить параметры СТП
        </button>
      </div>
    </div>
  </div>

</mat-toolbar>

<app-structure-table [tableConfig]="tableConfig">
</app-structure-table>

<app-vertex-codes-table *ngIf="isTableCoded">
</app-vertex-codes-table>

<app-output-functions-table *ngIf="isTableCoded">
</app-output-functions-table>
