<mat-card>
  <mat-toolbar class="layout-split root-header" color="primary">
    <div class="layout-split__item">
      <div class="layout-list layout-list--6px">
        <div class="layout-list__item">
          {{ 'ROOT.ROOT.TITLE' | translate }}
        </div>

        <div *ngIf="tableConfig"
             class="layout-list__item root-header__subtitle">
          <ng-container *ngIf="tableConfig.fsmType === fsmTypes.MILI">
            {{ 'ROOT.ROOT.MILI_STATE_MACHINE' | translate }}
          </ng-container>

          <ng-container *ngIf="tableConfig.fsmType === fsmTypes.MURA">
            {{ 'ROOT.ROOT.MURA_STATE_MACHINE' | translate }}
          </ng-container>

          <ng-container *ngIf="isTableCoded"
                        [ngSwitch]="chosenCodingAlgorithm">
            /
            <ng-container *ngSwitchCase="codingAlgorithmTypes.FREQUENCY_D_TRIGGER">
              {{ 'ROOT.ROOT.FREQUENCY_CODING_ALGORITHM' | translate }}
            </ng-container>

            <ng-container *ngSwitchCase="codingAlgorithmTypes.STATE_N_D_TRIGGER">
              {{ 'ROOT.ROOT.STATE_N_CODING_ALGORITHM' | translate }}
            </ng-container>

            <ng-container *ngSwitchCase="codingAlgorithmTypes.UNITARY_D_TRIGGER">
              {{ 'ROOT.ROOT.UNITARY_CODING_ALGORITHM' | translate }}
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="layout-split__item">
      <div class="layout-inline">
        <div class="layout-inline__item">
          <button mat-raised-button
                  app-theme="warning"
                  (click)="saveReport()"
                  [disabled]="isGeneratingReport">
            <ng-container *ngIf="!isGeneratingReport">
              {{ 'ROOT.ROOT.SAVE_BUTTON_LABEL' | translate }}
            </ng-container>

            <mat-spinner *ngIf="isGeneratingReport"
                         [diameter]="20"
                         strokeWidth="2"
                         app-theme="light">
            </mat-spinner>
          </button>
        </div>

        <div class="layout-inline__item">
          <button mat-raised-button
                  app-theme="warning"
                  (click)="openCodingAlgorithmDialog()"
                  [disabled]="isGeneratingReport">
            {{ 'ROOT.ROOT.CODE_BUTTON_LABEL' | translate }}
          </button>
        </div>

        <div class="layout-inline__item">
          <button mat-raised-button
                  app-theme="warning"
                  (click)="openTableConfigDialog()"
                  [disabled]="isGeneratingReport">
            {{ 'ROOT.ROOT.CHANGE_TABLE_PARAMETERS_BUTTON_LABEL' | translate }}
          </button>
        </div>
      </div>
    </div>
  </mat-toolbar>

  <mat-card-content>
    <mat-tab-group [selectedIndex]="selectedTabIndex"
                   (selectedTabChange)="selectedTabIndex = $event.index">
      <mat-tab [label]="'ROOT.ROOT.TST_TAB_TITLE' | translate">
        <app-structure-table *ngIf="!isLoading"
                             [config]="tableConfig"
                             [data]="tableData"
                             [isCoded]="isTableCoded"
                             [editModeControl]="tableEditModeControl"
                             (onUpdate)="onTableDataUpdate($event)">
        </app-structure-table>
      </mat-tab>

      <mat-tab [label]="'ROOT.ROOT.VERTEX_CODES_TAB_TITLE' | translate"
               [disabled]="!isTableCoded">
        <app-vertex-codes-table>
        </app-vertex-codes-table>
      </mat-tab>

      <mat-tab [label]="'ROOT.ROOT.OUTPUT_FUNCTIONS_TAB_TITLE' | translate"
               [disabled]="!isTableCoded">
        <app-output-functions-table *ngIf="isTableCoded">
        </app-output-functions-table>
      </mat-tab>

      <mat-tab [label]="'ROOT.ROOT.TRANSITIONS_FUNCTIONS_TAB_TITLE' | translate"
               [disabled]="!isTableCoded">
        <app-transition-functions-table>
        </app-transition-functions-table>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
