<mat-card>
  <mat-toolbar class="layout-split" color="primary">
    <div class="layout-split__item">
      Кодирование состояний автомата
    </div>

    <div class="layout-split__item">
      <div class="layout-inline">
        <div class="layout-inline__item">
          <button mat-raised-button
                  app-theme="warning"
                  (click)="generateDoc()"
                  [disabled]="isGeneratingDoc">
            <ng-container *ngIf="!isGeneratingDoc">
              Сохранить
            </ng-container>

            <mat-spinner *ngIf="isGeneratingDoc"
                         [diameter]="20"
                         strokeWidth="2"
                         app-theme="light">
            </mat-spinner>
          </button>
        </div>

        <div class="layout-inline__item">
          <button mat-raised-button
                  app-theme="warning"
                  (click)="openCodingAlgorithmDialog()"
                  [disabled]="isGeneratingDoc">
            Закодировать
          </button>
        </div>

        <div class="layout-inline__item">
          <button mat-raised-button
                  app-theme="warning"
                  (click)="openTableConfigDialog()"
                  [disabled]="isGeneratingDoc">
            Изменить параметры СТП
          </button>
        </div>
      </div>
    </div>
  </mat-toolbar>

  <mat-card-content>
    <mat-tab-group [selectedIndex]="selectedTabIndex"
                   (selectedTabChange)="selectedTabIndex = $event.index">
      <mat-tab label="Структурная таблица переходов">
        <app-structure-table *ngIf="!isLoading"
                             [config]="tableConfig"
                             [data]="tableData"
                             [isCoded]="isTableCoded"
                             [editModeControl]="tableEditModeControl"
                             (onUpdate)="tableData = $event">
        </app-structure-table>
      </mat-tab>

      <mat-tab label="Коды вершин"
               [disabled]="!isTableCoded">
        <app-vertex-codes-table>
        </app-vertex-codes-table>
      </mat-tab>

      <mat-tab label="Функции выходов"
               [disabled]="!isTableCoded">
        <app-output-functions-table *ngIf="isTableCoded">
        </app-output-functions-table>
      </mat-tab>

      <mat-tab label="Функции переходов"
               [disabled]="!isTableCoded">
        <app-transition-functions-table>
        </app-transition-functions-table>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
