<div class="card-header-wrapper">
  <div class="layout-split card-header">
    <div class="layout-split__item card-header__title">
      Структурная таблица переходов
    </div>

    <div class="layout-split__item">
      <label>
        <div class="layout-inline">
          <div class="layout-inline__item">
            <mat-slide-toggle color="accent"
                              [formControl]="editModeControl">
            </mat-slide-toggle>
          </div>
          <div class="layout-inline__item is--muted-70 is--interactive">
            Режим редактирования
          </div>
        </div>
      </label>
    </div>
  </div>
</div>

<mat-table [dataSource]="dataSource" matSort>
  <!-- Number Column -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef>
      h
    </mat-header-cell>

    <mat-cell *matCellDef="let row">
      {{ row.id }}
    </mat-cell>
  </ng-container>

  <!-- Src state Column -->
  <ng-container matColumnDef="srcState">
    <mat-header-cell *matHeaderCellDef
                      mat-sort-header>
      <div>a<sub>m</sub></div>
    </mat-header-cell>

    <mat-cell *matCellDef="let row">
      <div class="layout-inline">
        <div class="layout-inline__item">
          <ng-container *ngIf="row.srcStateId; else emptyValue">
            a<sub>{{ states.get(row.srcStateId).index }}</sub>
          </ng-container>
        </div>

        <div *ngIf="editModeControl.value"
              class="layout-inline__item">
          <button mat-icon-button
                  [matMenuTriggerFor]="statesMenu"
                  matTooltip="Добавить"
                  matTooltipPosition="above"
                  app-theme="primary">
            <div class="icon icon--plus-circle icon--20px"></div>
          </button>

          <mat-menu #statesMenu="matMenu"
                    [overlapTrigger]="false">
            <button *ngFor="let item of states | keyvalue"
                    (click)="selectSrcState(row, item.value)"
                    mat-menu-item>
              a<sub>{{ item.value.index }}</sub>
            </button>
          </mat-menu>
        </div>
      </div>
    </mat-cell>
  </ng-container>

  <!-- Src state code Column -->
  <ng-container matColumnDef="srcStateCode">
    <mat-header-cell *matHeaderCellDef>
      <div>
        K(a<sub>m</sub>)
      </div>
    </mat-header-cell>

    <mat-cell *matCellDef="let row">
      <div *ngIf="isCoded; else emptyValue">
        {{ formatStateCode(row.srcStateCode) }}
      </div>
    </mat-cell>
  </ng-container>

  <!-- Dist state Column -->
  <ng-container matColumnDef="distState">
    <mat-header-cell *matHeaderCellDef
                      mat-sort-header>
      <div>
        a<sub>s</sub>
      </div>
    </mat-header-cell>

    <mat-cell *matCellDef="let row">
      <div class="layout-inline">
        <div class="layout-inline__item">
          <ng-container *ngIf="row.distStateId; else emptyValue">
            a<sub>{{ states.get(row.distStateId).index }}</sub>
          </ng-container>
        </div>

        <div *ngIf="editModeControl.value"
              class="layout-inline__item">
          <button mat-icon-button
                 [matMenuTriggerFor]="statesMenu"
                 matTooltip="Добавить"
                 matTooltipPosition="above"
                 app-theme="primary">
            <div class="icon icon--plus-circle icon--20px"></div>
          </button>

          <mat-menu #statesMenu="matMenu"
                    [overlapTrigger]="false">
            <button *ngFor="let item of states | keyvalue"
                    (click)="selectDistState(row, item.value)"
                    mat-menu-item>
              a<sub>{{ item.value.index }}</sub>
            </button>
          </mat-menu>
        </div>
      </div>
    </mat-cell>
  </ng-container>

  <!-- Dist state code Column -->
  <ng-container matColumnDef="distStateCode">
    <mat-header-cell *matHeaderCellDef>
      <div>
        K(a<sub>s</sub>)
      </div>
    </mat-header-cell>

    <mat-cell *matCellDef="let row">
      <div *ngIf="isCoded; else emptyValue">
        {{ formatStateCode(row.distStateCode) }}
      </div>
    </mat-cell>
  </ng-container>

  <!-- X column -->
  <ng-container matColumnDef="x">
    <mat-header-cell *matHeaderCellDef>X</mat-header-cell>

    <mat-cell *matCellDef="let row">
      <div class="layout-inline layout-inline--0px layout-inline--widened">
        <div class="layout-inline__item layout-inline__item--60per">
          <div *ngIf="row.conditionalSignalsIds.size > 0"
               class="layout-inline layout-inline--0px layout-inline--multi-line">
            <div *ngFor="let conditionalSignalId of row.conditionalSignalsIds"
                 class="layout-inline__item">
              <span [class.with--overline]="getConditionalSignal(conditionalSignalId).inverted">x</span><sub>{{ getConditionalSignal(conditionalSignalId).index }}</sub>
            </div>
          </div>

          <div *ngIf="row.unconditionalTransition">1</div>

          <div *ngIf="!row.conditionalSignalsIds.size && !row.unconditionalTransition">-</div>
        </div>

        <div *ngIf="editModeControl.value"
              class="layout-inline__item layout-inline__item--40per">
          <button mat-icon-button
                  [matMenuTriggerFor]="conditionalSignalsMenu"
                  matTooltip="Добавить"
                  matTooltipPosition="above"
                  app-theme="primary">
            <div class="icon icon--plus-circle icon--20px"></div>
          </button>

          <mat-menu #conditionalSignalsMenu="matMenu"
                    [overlapTrigger]="false">
            <div (click)="$event.stopPropagation();"
                  class="mat-menu-item">
              <mat-checkbox [ngModel]="row.unconditionalTransition"
                            (ngModelChange)="onUnconditionalTransitionChange(row)"
                            (click)="$event.stopPropagation()">
                Безусловный
              </mat-checkbox>
            </div>

            <ng-container *ngIf="!row.unconditionalTransition">
              <div *ngFor="let item of conditionalSignals | keyvalue"
                    (click)="$event.stopPropagation()"
                    class="mat-menu-item">
                <mat-checkbox [ngModel]="row.conditionalSignalsIds.has(item.key)"
                              (ngModelChange)="onSignalsListChange(row.conditionalSignalsIds, item.key)"
                              [disabled]="isConditionalsItemDisabled(row, item.value)"
                              (click)="$event.stopPropagation()">
                  <span [class.with--overline]="getConditionalSignal(item.key).inverted">x</span><sub>{{ getConditionalSignal(item.key).index }}</sub>
                </mat-checkbox>
              </div>
            </ng-container>
          </mat-menu>
        </div>
      </div>
    </mat-cell>
  </ng-container>

  <!-- Y column -->
  <ng-container matColumnDef="y">
    <mat-header-cell *matHeaderCellDef>
      <div class="layout-inline layout-inline--6px">
        <div class="layout-inline__item">
          Y
        </div>

        <div *ngIf="isMuraFsm"
             class="layout-inline__item">
          <div class="icon icon--alert-circle icon--16px icon--box-16px is--muted-70 is--interactive"
               [appDynamicTooltip]="muraHintPopover"
               elementPosition="topRight"
               tooltipPosition="bottomLeft">
          </div>
        </div>
      </div>

      <ng-template #muraHintPopover>
        <div class="tooltip">
          Столбец заполняется по a<sub>s</sub>
        </div>
      </ng-template>
    </mat-header-cell>

    <mat-cell *matCellDef="let row">
      <div class="layout-inline layout-inline--0px layout-inline--widened">
        <div class="layout-inline__item layout-inline__item--60per layout-inline__item--expand">
          <div *ngIf="row.outputSignalsIds.size > 0; else emptyValue"
               class="layout-inline layout-inline--0px layout-inline--multi-line">
            <div *ngFor="let outputSignalId of row.outputSignalsIds; last as isLast"
                          class="layout-inline__item">
              y<sub>{{ outputSignals.get(outputSignalId).index }}</sub><ng-container *ngIf="row.outputSignalsIds.size > 1 && !isLast">,</ng-container>
            </div>
          </div>
        </div>

        <div *ngIf="editModeControl.value"
             class="layout-inline__item layout-inline__item--40per">
          <button mat-icon-button
                  [matMenuTriggerFor]="outputSignalsMenu"
                  matTooltip="Добавить"
                  matTooltipPosition="above"
                  app-theme="primary">
            <div class="icon icon--plus-circle icon--20px"></div>
          </button>

          <mat-menu #outputSignalsMenu="matMenu"
                    [overlapTrigger]="false">
            <div *ngFor="let item of outputSignals | keyvalue"
                  (click)="$event.stopPropagation();"
                  class="mat-menu-item">
              <mat-checkbox [ngModel]="row.outputSignalsIds.has(item.key)"
                            (ngModelChange)="onSignalsListChange(row.outputSignalsIds, item.key)"
                            (click)="$event.stopPropagation();">
                y<sub>{{ item.value.index }}</sub>
              </mat-checkbox>
            </div>
          </mat-menu>
        </div>
      </div>
    </mat-cell>
</ng-container>

  <!-- F Column -->
  <ng-container matColumnDef="f">
    <mat-header-cell *matHeaderCellDef>
      <div>F<sub>h</sub></div>
    </mat-header-cell>

    <mat-cell *matCellDef="let row">
      <div *ngIf="isCoded; else emptyValue">
        {{ formatStateCode(row.triggerExcitationSignals) }}
      </div>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns">
  </mat-header-row>

  <mat-row *matRowDef="let row; columns: displayedColumns;">
  </mat-row>
</mat-table>

<app-paginator [showFirstLastButtons]="true"
               [hidePageSize]="true"
               [pageSize]="rowsPerPage">
</app-paginator>

<ng-template #emptyValue>-</ng-template>
