<div class="card-header-wrapper">
  <div class="layout-split card-header">
    <div class="layout-split__item card-header__title">
      Структурная таблица переходов
    </div>

    <div class="layout-split__item">
      <label>
        <div class="layout-inline">
          <div class="layout-inline__item">
            <mat-slide-toggle color="accent"
                              [(ngModel)]="editMode"
                              [disabled]="disabled">
            </mat-slide-toggle>
          </div>
          <div class="layout-inline__item is--muted-70 is--interactive">
            Режим редактирования
          </div>
        </div>
      </label>
    </div>
  </div>
</div>

<mat-table [dataSource]="dataSource" matSort>
  <!-- Number Column -->
  <ng-container matColumnDef="num">
    <mat-header-cell *matHeaderCellDef> h </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{ row.id }} </mat-cell>
  </ng-container>

  <!-- Src state Column -->
  <ng-container matColumnDef="srcState">
    <mat-header-cell *matHeaderCellDef
                      mat-sort-header>
      <div>a<sub>m</sub></div>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <div class="layout-inline">
        <div class="layout-inline__item">
          <ng-container *ngIf="row.srcState; else emptyValue">
            a<sub>{{ row.srcState.id }}</sub>
          </ng-container>
        </div>
        <div *ngIf="editMode"
              class="layout-inline__item">
          <button mat-icon-button
                  [matMenuTriggerFor]="statesMenu"
                  matTooltip="Добавить"
                  matTooltipPosition="above"
                  app-theme="primary">
            <div class="icon icon--plus-circle icon--20px"></div>
          </button>

          <mat-menu #statesMenu="matMenu"
                    [overlapTrigger]="false">
            <button *ngFor="let state of states"
                    (click)="row.srcState = state; emitTableUpdate()"
                    mat-menu-item>
              a<sub>{{ state.id }}</sub>
            </button>
          </mat-menu>
        </div>
      </div>
    </mat-cell>
  </ng-container>

  <!-- Code Src state Column -->
  <ng-container matColumnDef="codeSrcState">
    <mat-header-cell *matHeaderCellDef>
      <div>
        K(a<sub>m</sub>)
      </div>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <div *ngIf="isCoded; else emptyValue">
        {{ formatStateCode(row.codeSrcState) }}
      </div>
    </mat-cell>
  </ng-container>

  <!-- Dist state Column -->
  <ng-container matColumnDef="distState">
    <mat-header-cell *matHeaderCellDef
                      mat-sort-header>
      <div>a<sub>s</sub></div>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <div class="layout-inline">
        <div class="layout-inline__item">
          <ng-container *ngIf="row.distState; else emptyValue">
            a<sub>{{ row.distState.id }}</sub>
          </ng-container>
        </div>
        <div *ngIf="editMode"
              class="layout-inline__item">
          <button mat-icon-button
                 [matMenuTriggerFor]="statesMenu"
                 matTooltip="Добавить"
                 matTooltipPosition="above"
                 app-theme="primary">
            <div class="icon icon--plus-circle icon--20px"></div>
          </button>

          <mat-menu #statesMenu="matMenu"
                    [overlapTrigger]="false">
            <button *ngFor="let state of states"
                    (click)="row.distState = state; emitTableUpdate()"
                    mat-menu-item>
              a<sub>{{ state.id }}</sub>
            </button>
          </mat-menu>
        </div>
      </div>
    </mat-cell>
  </ng-container>

  <!-- Code Dist state Column -->
  <ng-container matColumnDef="codeDistState">
    <mat-header-cell *matHeaderCellDef>
      <div>
        K(a <sub>s</sub> )
      </div>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <div *ngIf="isCoded; else emptyValue">
        {{ formatStateCode(row.codeDistState) }}
      </div>
    </mat-cell>
  </ng-container>

  <!-- X column -->
  <ng-container matColumnDef="x">
    <mat-header-cell *matHeaderCellDef>X</mat-header-cell>

    <mat-cell *matCellDef="let row">
      <div class="layout-inline layout-inline--0px">
        <div class="layout-inline__item layout-inline__item--60per">
          <div *ngIf="row.x.size > 0 && !row.unconditionalX"
               class="layout-inline layout-inline--0px layout-inline--multi-line">
            <div *ngFor="let conditionalSignal of getSignalsIterator(row.x)"
                 class="layout-inline__item">
              <span [class.is--inverted]="conditionalSignal.inverted">x</span><sub>{{ conditionalSignal.id }}</sub>
            </div>
          </div>

          <div *ngIf="row.unconditionalX">1</div>

          <div *ngIf="row.x.size == 0 && !row.unconditionalX">-</div>
        </div>

        <div *ngIf="editMode"
              class="layout-inline__item layout-inline__item--40per">
          <button mat-icon-button
                  [matMenuTriggerFor]="xSignalsMenu"
                  matTooltip="Добавить"
                  matTooltipPosition="above"
                  app-theme="primary">
            <div class="icon icon--plus-circle icon--20px"></div>
          </button>

          <mat-menu #xSignalsMenu="matMenu"
                    [overlapTrigger]="false">
            <div (click)="$event.stopPropagation();"
                  class="mat-menu-item">
              <mat-checkbox [ngModel]="row.unconditionalX"
                            (ngModelChange)="toggleUnconditionalSignal(row)"
                            (click)="$event.stopPropagation();">
                Безусловный
              </mat-checkbox>
            </div>

            <ng-container *ngIf="!row.unconditionalX">
              <div *ngFor="let conditionalSignal of conditionalSignals; index as i"
                    (click)="$event.stopPropagation();"
                    class="mat-menu-item">
                <mat-checkbox [ngModel]="row.x.has(conditionalSignal)"
                              (ngModelChange)="selectSignal(conditionalSignal, row.x)"
                              [disabled]="isConditionalSignalDisabled(row, i, conditionalSignal.inverted)"
                              (click)="$event.stopPropagation();">
                  <span [class.is--inverted]="conditionalSignal.inverted">x</span><sub>{{ conditionalSignal.id }}</sub>
                </mat-checkbox>
              </div>
            </ng-container>
          </mat-menu>
        </div>
      </div>
    </mat-cell>
  </ng-container>

  <!-- Y column -->
  <ng-container matColumnDef="y">
    <mat-header-cell *matHeaderCellDef>
      <div class="layout-inline layout-inline--6px">
        <div class="layout-inline__item">
          Y
        </div>
        <div *ngIf="isMuraFsm()"
             class="layout-inline__item">
          <div class="icon icon--alert-circle icon--20px is--muted-70 is--interactive"
               [appDynamicTooltip]="muraHintPopover"
               elementPosition="topRight"
               tooltipPosition="bottomLeft">
          </div>
        </div>
      </div>

      <ng-template #muraHintPopover>
        <div class="popover">
          Столбец заполняется по a<sub>s</sub>
        </div>
      </ng-template>
    </mat-header-cell>

    <mat-cell *matCellDef="let row">
      <div class="layout-inline layout-inline--0px">
        <div class="layout-inline__item layout-inline__item--60per">
          <div *ngIf="row.y.size > 0; else emptyValue"
               class="layout-inline layout-inline--0px layout-inline--multi-line">
            <div *ngFor="let outputSignal of getSignalsIterator(row.y); last as isLast"
                          class="layout-inline__item">
              y<sub>{{ outputSignal}}</sub><ng-container *ngIf="row.y.size > 1 && !isLast">,</ng-container>
            </div>
          </div>
        </div>

        <div class="layout-inline__item layout-inline__item--40per">
          <div *ngIf="editMode">
            <button mat-icon-button
                    [matMenuTriggerFor]="ySignalsMenu"
                    matTooltip="Добавить"
                    matTooltipPosition="above"
                    app-theme="primary">
              <div class="icon icon--plus-circle icon--20px"></div>
            </button>

            <mat-menu #ySignalsMenu="matMenu"
                      [overlapTrigger]="false">
              <div *ngFor="let outputSignal of outputSignals"
                    (click)="$event.stopPropagation();"
                    class="mat-menu-item">
                <mat-checkbox [ngModel]="row.y.has(outputSignal)"
                              (ngModelChange)="selectSignal(outputSignal, row.y)"
                              (click)="$event.stopPropagation();">
                  y<sub>{{ outputSignal }}</sub>
                </mat-checkbox>
              </div>
            </mat-menu>
          </div>
        </div>
      </div>
    </mat-cell>
  </ng-container>

  <!-- F Column -->
  <ng-container matColumnDef="f">
    <mat-header-cell *matHeaderCellDef>F<sub>h</sub></mat-header-cell>
    <mat-cell *matCellDef="let row">
      <div *ngIf="isCoded; else emptyValue">
        {{ formatStateCode(row.f) }}
      </div>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns">
  </mat-header-row>

  <mat-row *matRowDef="let row; columns: displayedColumns;">
  </mat-row>
</mat-table>

<app-paginator #myPaginator
               [showFirstLastButtons]="true"
               [hidePageSize]="true"
               [pageSize]="10">
              <!-- TODO: Const for pageSize -->
</app-paginator>

<ng-template #emptyValue>-</ng-template>
